# YOUR PROJECT TITLE

> **Note the following:** 
> 1. This is *not* meant to be an example of an actual **data analysis project**, just an example of how to structure such a project.
> 1. Remember the general advice on structuring and commenting your code
> 1. The `dataproject.py` file includes a function which can be used multiple times in this notebook.

Imports and set magics:

In [131]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ipywidgets as widgets
#from matplotlib_venn import venn2

# autoreload modules when code is run
%load_ext autoreload
%autoreload 2

# user written modules
import dataproject

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Read and clean data

Import your data, either through an API or manually, and load it.

In [132]:
filename = 'airtraffic.xlsx'

airt = pd.read_excel(filename)

In [133]:
# These columns have to go: 'Unnamed: 0' 'Unnamed: 1' 'Unnamed: 2' 'Unnamed: 3'
drop_these = ['Country Code','Indicator Name','Indicator Code'] # use list comprehension to create list of columns
print(drop_these)

airt.drop(drop_these, axis=1, inplace=True) # axis = 1 -> columns, inplace=True -> changed, no copy made
airt.head(5)

['Country Code', 'Indicator Name', 'Indicator Code']

,Country Name,1970,1971,1972,1973,1974,1975,1976,1977,1978,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,223502.00,2.742800e+05,NaN,NaN,NaN
1,Africa Eastern and Southern,3418300.0,3775300.0,4074500.0,4808000.0,5126100.0,5333100.0,6040400.0,5798900.0,6195600.0,...,3.583868e+07,3.511246e+07,3.635076e+07,39154692.0,41553429.0,45423814.08,5.261396e+07,5.485142e+07,1.916604e+07,2.405759e+07
2,Afghanistan,84700.0,97400.0,104900.0,96600.0,96100.0,99000.0,101700.0,111200.0,100400.0,...,1.737962e+06,2.044188e+06,2.209428e+06,1929907.0,1917924.0,1647425.00,1.125367e+06,1.066747e+06,4.490410e+05,2.932130e+05
3,Africa Western and Central,1167000.0,1238100.0,1285700.0,1453300.0,1685700.0,1987500.0,2540000.0,2962100.0,3543900.0,...,9.570162e+06,8.677884e+06,8.030237e+06,8696300.0,8129874.0,8837017.00,1.233777e+07,1.138491e+07,5.328945e+06,7.425487e+06
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,155400.0,282700.0,308000.0,...,1.132424e+06,1.321872e+06,1.409952e+06,1244491.0,1482546.0,1375523.00,1.516628e+06,1.436959e+06,3.566950e+05,3.114880e+05

In [134]:
col_dict = {}
for i in range(1970, 2021+1): # range goes from 2008 to but not including 2018
    col_dict[str(i)] = f'y{i}'

col_dict = {str(i) : f'y{i}' for i in range(1970,2021+1)}
col_dict

airt.rename(columns = col_dict, inplace=True)
airt.head(10)

,Country Name,y1970,y1971,y1972,y1973,y1974,y1975,y1976,y1977,y1978,...,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019,y2020,y2021
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.235020e+05,2.742800e+05,NaN,NaN,NaN
1,Africa Eastern and Southern,3418300.0,3775300.0,4074500.0,4808000.0,5126100.0,5333100.0,6040400.0,5798900.0,6195600.0,...,3.583868e+07,3.511246e+07,3.635076e+07,39154692.0,41553429.0,4.542381e+07,5.261396e+07,5.485142e+07,1.916604e+07,2.405759e+07
2,Afghanistan,84700.0,97400.0,104900.0,96600.0,96100.0,99000.0,101700.0,111200.0,100400.0,...,1.737962e+06,2.044188e+06,2.209428e+06,1929907.0,1917924.0,1.647425e+06,1.125367e+06,1.066747e+06,4.490410e+05,2.932130e+05
3,Africa Western and Central,1167000.0,1238100.0,1285700.0,1453300.0,1685700.0,1987500.0,2540000.0,2962100.0,3543900.0,...,9.570162e+06,8.677884e+06,8.030237e+06,8696300.0,8129874.0,8.837017e+06,1.233777e+07,1.138491e+07,5.328945e+06,7.425487e+06
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,155400.0,282700.0,308000.0,...,1.132424e+06,1.321872e+06,1.409952e+06,1244491.0,1482546.0,1.375523e+06,1.516628e+06,1.436959e+06,3.566950e+05,3.114880e+05
5,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.143397e+05,8.658480e+05,1.516320e+05,NaN,26634.0,2.040900e+05,3.031370e+05,3.077410e+05,1.247140e+05,1.932590e+05
6,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Arab World,4209300.0,4737000.0,5625600.0,6569400.0,8227100.0,10178000.0,13313000.0,16062400.0,18669700.0,...,1.520142e+08,1.662093e+08,1.816273e+08,195957046.0,214318723.0,2.234962e+08,2.326702e+08,2.462847e+08,7.820312e+07,1.008930e+08
8,United Arab Emirates,NaN,NaN,NaN,NaN,127500.0,173000.0,240100.0,299800.0,374500.0,...,5.994877e+07,6.815186e+07,7.560820e+07,84343562.0,91763598.0,9.530620e+07,9.575834e+07,9.399521e+07,2.611690e+07,2.842262e+07
9,Argentina,2332000.0,2218600.0,2358500.0,2312700.0,2943500.0,3299200.0,3293600.0,3884100.0,3946700.0,...,9.375670e+06,1.195128e+07,1.212191e+07,14245183.0,15076354.0,1.674927e+07,1.808455e+07,1.946138e+07,3.680874e+06,6.708097e+06

In [135]:
airt.reset_index(inplace = True, drop = True) # Drop old index too 'HVAD GÃ˜R DENNE?'
airt.iloc[:,:]

,Country Name,y1970,y1971,y1972,y1973,y1974,y1975,y1976,y1977,y1978,...,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019,y2020,y2021
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,223502.00,2.742800e+05,NaN,NaN,NaN
1,Africa Eastern and Southern,3418300.0,3775300.0,4074500.0,4808000.0,5126100.0,5333100.0,6040400.0,5798900.0,6195600.0,...,3.583868e+07,3.511246e+07,3.635076e+07,39154692.0,41553429.0,45423814.08,5.261396e+07,5.485142e+07,1.916604e+07,2.405759e+07
2,Afghanistan,84700.0,97400.0,104900.0,96600.0,96100.0,99000.0,101700.0,111200.0,100400.0,...,1.737962e+06,2.044188e+06,2.209428e+06,1929907.0,1917924.0,1647425.00,1.125367e+06,1.066747e+06,4.490410e+05,2.932130e+05
3,Africa Western and Central,1167000.0,1238100.0,1285700.0,1453300.0,1685700.0,1987500.0,2540000.0,2962100.0,3543900.0,...,9.570162e+06,8.677884e+06,8.030237e+06,8696300.0,8129874.0,8837017.00,1.233777e+07,1.138491e+07,5.328945e+06,7.425487e+06
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,155400.0,282700.0,308000.0,...,1.132424e+06,1.321872e+06,1.409952e+06,1244491.0,1482546.0,1375523.00,1.516628e+06,1.436959e+06,3.566950e+05,3.114880e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",25900.0,54500.0,57000.0,61500.0,66500.0,70000.0,262800.0,275000.0,295000.0,...,1.299707e+06,1.664220e+06,1.665552e+06,443685.0,242723.0,132571.00,3.363100e+05,NaN,5.203489e+04,5.203489e+04
263,South Africa,1519000.0,1659500.0,1868100.0,2313800.0,2763600.0,2936400.0,2998800.0,3076800.0,3211200.0,...,1.757157e+07,1.631125e+07,1.702664e+07,18882898.0,19744932.0,20821044.00,2.466039e+07,2.621126e+07,8.304771e+06,9.321576e+06
264,Zambia,187800.0,214200.0,230100.0,230600.0,240600.0,232600.0,256800.0,299400.0,317100.0,...,1.272966e+05,1.003200e+04,8.592000e+03,203617.0,144060.0,154573.00,1.663314e+04,1.750569e+04,8.717833e+03,1.366100e+05
265,Zimbabwe,267400.0,291300.0,315000.0,340000.0,NaN,NaN,NaN,NaN,NaN,...,3.209460e+05,3.515640e+05,3.012600e+05,370165.0,378803.0,282539.00,2.825390e+05,NaN,3.242265e+05,7.563812e+04

## Explore each data set

In order to be able to **explore the raw data**, you may provide **static** and **interactive plots** to show important developments

**Interactive plot** :

In [137]:
from dataproject import display_air_traffic_interactive

# Replace 'your_excel_file.xlsx' with the actual name or path to your Excel file
display_air_traffic_interactive('airtraffic.xlsx')

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/Users/gustavegeskov/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/fr/9329f3zn6nb4cdtjw5g36mz00000gn/T/ipykernel_71436/1390071861.py", line 4, in <module>
    display_air_traffic_interactive('airtraffic.xlsx')
  File "/Users/gustavegeskov/projects-2024-peterjakobgustav/dataproject/dataproject.py", line 32, in display_air_traffic_interactive
    plot_data.index = plot_data.index.str.extract('(\d+)', expand=False).astype(int)
                      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/gustavegeskov/anaconda3/lib/python3.11/site-packages/pandas/core/indexes/base.py", line 1090, in astype
    new_values = astype_array(values, dtype=dtype, copy=copy)
                 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/gustavegeskov/anaconda3/lib/python3.11/site-packages/pandas/core/dtypes/astype.py", line 183, in astype_array
    values = _astype_nansafe(values, dtype, copy=copy)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/gustavegeskov/anaconda3/lib/python3.11/site-packages/pandas/core/dtypes/astype.py", line 134, in _astype_nansafe
    return arr.astype(dtype, copy=True)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
ValueError: cannot convert float NaN to integer

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/gustavegeskov/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/gustavegeskov/anaconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/gustavegeskov/anaconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/gustavegeskov/anaconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/gustavegeskov/anaconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/gustavegeskov/anaconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
    ^^^^^^^^^^^^^^^^
  File "/Users/gustavegeskov/anaconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 792, in lines
    return self._sd.lines
           ^^^^^^^^^^^^^^
  File "/Users/gustavegeskov/anaconda3/lib/python3.11/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "/Users/gustavegeskov/anaconda3/lib/python3.11/site-packages/stack_data/core.py", line 698, in lines
    pieces = self.included_pieces
             ^^^^^^^^^^^^^^^^^^^^
  File "/Users/gustavegeskov/anaconda3/lib/python3.11/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "/Users/gustavegeskov/anaconda3/lib/python3.11/site-packages/stack_data/core.py", line 649, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
                             ^^^^^^^^^^^^^^^^^^^^
  File "/Users/gustavegeskov/anaconda3/lib/python3.11/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "/Users/gustavegeskov/anaconda3/lib/python3.11/site-packages/stack_data/core.py", line 628, in executing_piece
    return only(
           ^^^^^
  File "/Users/gustavegeskov/anaconda3/lib/python3.11/site-packages/executing/executing.py", line 164, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

In [ ]:
# Transposing the dataframe to have years as rows and setting the index
plot_data = airt.set_index('Country Name').T

# Correcting the index by removing non-numeric characters and converting to integer
plot_data.index = plot_data.index.str.extract('(\d+)', expand=False).astype(int)

# Create a dropdown for country selection
country_dropdown = widgets.Dropdown(
    options=plot_data.columns,
    value=plot_data.columns[259],
    description='Country:',
    disabled=False,
)

# Plotting function that takes a country name as input
def plot_air_traffic(country):
    plt.figure(figsize=(10, 6))
    plot_data[country].dropna().plot(marker='o')
    plt.title(f'Air Traffic Passengers for {country} (1970-2021)')
    plt.xlabel('Year')
    plt.ylabel('Number of Passengers')
    plt.grid(True)
    plt.show()

# Interactive widget to select a country and display the graph
widgets.interact(plot_air_traffic, country=country_dropdown)

interactive(children=(Dropdown(description='Country:', index=259, options=('Aruba', 'Africa Eastern and Southeâ€¦

Explain what you see when moving elements of the interactive plot around.

# Merge data sets

Now you create combinations of your loaded data sets. Remember the illustration of a (inner) **merge**:

In [ ]:
plt.figure(figsize=(15,7))
v = venn2(subsets = (4, 4, 10), set_labels = ('Data X', 'Data Y'))
v.get_label_by_id('100').set_text('dropped')
v.get_label_by_id('010').set_text('dropped' )
v.get_label_by_id('110').set_text('included')
plt.show()

NameError: name 'venn2' is not defined

Here we are dropping elements from both data set X and data set Y. A left join would keep all observations in data X intact and subset only from Y. 

Make sure that your resulting data sets have the correct number of rows and columns. That is, be clear about which observations are thrown away. 

**Note:** Don't make Venn diagrams in your own data project. It is just for exposition.

# Analysis

To get a quick overview of the data, we show some **summary statistics** on a meaningful aggregation.

MAKE FURTHER ANALYSIS. EXPLAIN THE CODE BRIEFLY AND SUMMARIZE THE RESULTS.

# Conclusion

ADD CONCISE CONLUSION.

{'1970': 'y1970',
 '1971': 'y1971',
 '1972': 'y1972',
 '1973': 'y1973',
 '1974': 'y1974',
 '1975': 'y1975',
 '1976': 'y1976',
 '1977': 'y1977',
 '1978': 'y1978',
 '1979': 'y1979',
 '1980': 'y1980',
 '1981': 'y1981',
 '1982': 'y1982',
 '1983': 'y1983',
 '1984': 'y1984',
 '1985': 'y1985',
 '1986': 'y1986',
 '1987': 'y1987',
 '1988': 'y1988',
 '1989': 'y1989',
 '1990': 'y1990',
 '1991': 'y1991',
 '1992': 'y1992',
 '1993': 'y1993',
 '1994': 'y1994',
 '1995': 'y1995',
 '1996': 'y1996',
 '1997': 'y1997',
 '1998': 'y1998',
 '1999': 'y1999',
 '2000': 'y2000',
 '2001': 'y2001',
 '2002': 'y2002',
 '2003': 'y2003',
 '2004': 'y2004',
 '2005': 'y2005',
 '2006': 'y2006',
 '2007': 'y2007',
 '2008': 'y2008',
 '2009': 'y2009',
 '2010': 'y2010',
 '2011': 'y2011',
 '2012': 'y2012',
 '2013': 'y2013',
 '2014': 'y2014',
 '2015': 'y2015',
 '2016': 'y2016',
 '2017': 'y2017',
 '2018': 'y2018',
 '2019': 'y2019',
 '2020': 'y2020',
 '2021': 'y2021'}

,Country Name,y1970,y1971,y1972,y1973,y1974,y1975,y1976,y1977,y1978,...,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019,y2020,y2021
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.235020e+05,2.742800e+05,NaN,NaN,NaN
1,Africa Eastern and Southern,3418300.0,3775300.0,4074500.0,4808000.0,5126100.0,5333100.0,6040400.0,5798900.0,6195600.0,...,3.583868e+07,3.511246e+07,3.635076e+07,39154692.0,41553429.0,4.542381e+07,5.261396e+07,5.485142e+07,1.916604e+07,2.405759e+07
2,Afghanistan,84700.0,97400.0,104900.0,96600.0,96100.0,99000.0,101700.0,111200.0,100400.0,...,1.737962e+06,2.044188e+06,2.209428e+06,1929907.0,1917924.0,1.647425e+06,1.125367e+06,1.066747e+06,4.490410e+05,2.932130e+05
3,Africa Western and Central,1167000.0,1238100.0,1285700.0,1453300.0,1685700.0,1987500.0,2540000.0,2962100.0,3543900.0,...,9.570162e+06,8.677884e+06,8.030237e+06,8696300.0,8129874.0,8.837017e+06,1.233777e+07,1.138491e+07,5.328945e+06,7.425487e+06
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,155400.0,282700.0,308000.0,...,1.132424e+06,1.321872e+06,1.409952e+06,1244491.0,1482546.0,1.375523e+06,1.516628e+06,1.436959e+06,3.566950e+05,3.114880e+05
5,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.143397e+05,8.658480e+05,1.516320e+05,NaN,26634.0,2.040900e+05,3.031370e+05,3.077410e+05,1.247140e+05,1.932590e+05
6,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Arab World,4209300.0,4737000.0,5625600.0,6569400.0,8227100.0,10178000.0,13313000.0,16062400.0,18669700.0,...,1.520142e+08,1.662093e+08,1.816273e+08,195957046.0,214318723.0,2.234962e+08,2.326702e+08,2.462847e+08,7.820312e+07,1.008930e+08
8,United Arab Emirates,NaN,NaN,NaN,NaN,127500.0,173000.0,240100.0,299800.0,374500.0,...,5.994877e+07,6.815186e+07,7.560820e+07,84343562.0,91763598.0,9.530620e+07,9.575834e+07,9.399521e+07,2.611690e+07,2.842262e+07
9,Argentina,2332000.0,2218600.0,2358500.0,2312700.0,2943500.0,3299200.0,3293600.0,3884100.0,3946700.0,...,9.375670e+06,1.195128e+07,1.212191e+07,14245183.0,15076354.0,1.674927e+07,1.808455e+07,1.946138e+07,3.680874e+06,6.708097e+06

,Country Name,y1970,y1971,y1972,y1973,y1974,y1975,y1976,y1977,y1978,...,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019,y2020,y2021
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,223502.00,2.742800e+05,NaN,NaN,NaN
1,Africa Eastern and Southern,3418300.0,3775300.0,4074500.0,4808000.0,5126100.0,5333100.0,6040400.0,5798900.0,6195600.0,...,3.583868e+07,3.511246e+07,3.635076e+07,39154692.0,41553429.0,45423814.08,5.261396e+07,5.485142e+07,1.916604e+07,2.405759e+07
2,Afghanistan,84700.0,97400.0,104900.0,96600.0,96100.0,99000.0,101700.0,111200.0,100400.0,...,1.737962e+06,2.044188e+06,2.209428e+06,1929907.0,1917924.0,1647425.00,1.125367e+06,1.066747e+06,4.490410e+05,2.932130e+05
3,Africa Western and Central,1167000.0,1238100.0,1285700.0,1453300.0,1685700.0,1987500.0,2540000.0,2962100.0,3543900.0,...,9.570162e+06,8.677884e+06,8.030237e+06,8696300.0,8129874.0,8837017.00,1.233777e+07,1.138491e+07,5.328945e+06,7.425487e+06
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,155400.0,282700.0,308000.0,...,1.132424e+06,1.321872e+06,1.409952e+06,1244491.0,1482546.0,1375523.00,1.516628e+06,1.436959e+06,3.566950e+05,3.114880e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",25900.0,54500.0,57000.0,61500.0,66500.0,70000.0,262800.0,275000.0,295000.0,...,1.299707e+06,1.664220e+06,1.665552e+06,443685.0,242723.0,132571.00,3.363100e+05,NaN,5.203489e+04,5.203489e+04
263,South Africa,1519000.0,1659500.0,1868100.0,2313800.0,2763600.0,2936400.0,2998800.0,3076800.0,3211200.0,...,1.757157e+07,1.631125e+07,1.702664e+07,18882898.0,19744932.0,20821044.00,2.466039e+07,2.621126e+07,8.304771e+06,9.321576e+06
264,Zambia,187800.0,214200.0,230100.0,230600.0,240600.0,232600.0,256800.0,299400.0,317100.0,...,1.272966e+05,1.003200e+04,8.592000e+03,203617.0,144060.0,154573.00,1.663314e+04,1.750569e+04,8.717833e+03,1.366100e+05
265,Zimbabwe,267400.0,291300.0,315000.0,340000.0,NaN,NaN,NaN,NaN,NaN,...,3.209460e+05,3.515640e+05,3.012600e+05,370165.0,378803.0,282539.00,2.825390e+05,NaN,3.242265e+05,7.563812e+04